.item-table-value{
  color: #a1a5b7;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.item-table-title{
  font-weight: bold;
  font-family: "Poppins", serif;
  font-size: 13px;
  color: #050505;
}
