<!--<div class="login-wrapper test" fxLayout="row" fxLayoutAlign="center center">-->
<!--  <mat-card >-->
<!--    <mat-card-header>-->
<!--      <mat-card-title>Login</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <form>-->
<!--      <mat-card-content>-->
<!--        <mat-form-field>-->
<!--          <input matInput placeholder="e-mail">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field>-->
<!--          <input matInput placeholder="password">-->
<!--        </mat-form-field>-->
<!--      </mat-card-content>-->
<!--      <div fxLayout="fxLayout" fxLayoutAlign="space-around space-around">-->
<!--        <button mat-stroked-button color="accent" routerLink="/auth/register" class="btn-block">Register</button>-->
<!--        <button mat-stroked-button color="accent" routerLink="/auth/login" class="btn-block">Log in</button>-->
<!--      </div>-->

<!--    </form>-->
<!--  </mat-card>-->

<!--</div>-->

<!--<div class="card">-->
<!--  <div class="card-body">-->
<!--    <form [formGroup]="userForm"  novalidate class="justify-content-center d-flex ">-->
<!--    <div class="mb-3">-->
<!--      <label for="email" class="form-label">Email</label>-->
<!--      <input  id="email" formControlName="email" class="form-control">-->
<!--      <div class="invalid-feedback" *ngIf="userForm.get('email')?.invalid" [ngStyle]="{'display':userForm.get('email')?.invalid && userForm.get('email')?.touched ? 'block' : 'none'}">-->
<!--        {{getErrorMessageMail()}}-->
<!--      </div>-->
<!--    </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->



<div class="login-page">
  <div class="form">
    <form class="register-form">
      <input type="text" placeholder="name"/>
      <input type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form>
    <form class="login-form"  [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">
      <input type="text" placeholder="username" formControlName="username"/>
      <input type="password" placeholder="password"  formControlName="password"/>
      <button  type="submit">login</button>
      <p class="message">Not registered?  <a routerLink="/auth/register">Create an account</a></p>
    </form>
  </div>
</div>
