:host(app-home){
  height: 100vh;
}

.home{
  &__column{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  &__image{
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 5px;
    width: 700px;
  }
  &__d-flex{
    height: inherit;
  }
  &__column-title{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  &__column-text{
    margin-top: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    text-align: justify;
    font-family: "Roboto", sans-serif;
  }
}
