
<div class="d-flex flex-center justify-content-center align-items-center home__d-flex">
  <div class="flex-shrink-0">
    <img [src]="img" alt="medicinal" class="home__image">
  </div>
  <div class="flex-grow-1 ms-3">
      <p class="home__column-title">Medicinal Records</p>
    <div class="mt-2 mb-2 mx-4">
      <p class="home__column-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium labore maxime non nulla numquam praesentium
        provident sunt veniam voluptate. Autem commodi deleniti esse in molestias optio provident ratione ullam.
        Accusantium.</p>
    </div>

  </div>
</div>


<!--  <div class="col-6" style="background:red">-->
<!--      <div>-->

<!--      </div>-->
<!--  </div>-->
<!--  <div class="col-6" style="background:black">-->
<!--  </div>-->


