<div style="margin-top: 50px" class="home">
  <div fxFill fxLayout="row" style="border-bottom: solid 1px #ccc">
    <app-header [singUp]="singUp" [singIn]="singIn" [title]="title"></app-header>
  </div>
  <div>
  </div>
</div>
<style>
</style>
<body class="mat-typography">
<app-root></app-root>
<div class="container">
  <div class="pt-5 text-white">
    <header class="py-5 mt-5">
      <h1 class="display-4">Lorem ipsum dolor sit amet,</h1>
      <p class="lead mb-0">Lorem ipsum dolor sit amet,</p>

    </header>

    <form [formGroup]="userForm"  novalidate class="justify-content-center d-flex ">
      <div class="card mt-5 justify-content-center" style="max-width: 600px; width: 600px">
        <div class="card-body">
          <div class="mb-3 mt-3">
            <h4 style="color: black">Exemplo de uso de funções assincroas</h4>
            <h4 style="color: black">Digite um cep irá buscar automaticamente</h4>
            <h5  style="color: black">ex: 01313-000</h5>
          </div>

          <div class="mb-3">
            <label for="postalCode" class="form-label" style="color: black">Postal Code</label>
            <input id="postalCode" mask="00000-000"
                   (change)="getAddressInfo(userForm.get('postalCode')?.value)"
                   class="form-control"
                   formControlName="postalCode"
                   placeholder="00000-000"
            >
          </div>

          <div class="mb-3">
            <label for="addressName" class="form-label" style="color: black">Address Name</label>
            <input id="addressName" class="form-control" formControlName="addressName">
          </div>

          <div class="mb-3">
            <label for="addressName" class="form-label" style="color: black">Address Number</label>
            <input id="addressNumber"  class="form-control" formControlName="addressNumber">
          </div>

          <div class="mb-3">
            <label for="addressNeighborhood" class="form-label" style="color: black">Address Neighborhood</label>
            <input id="addressNeighborhood" class="form-control" formControlName="addressNeighborhood">
          </div>
          <div class="mb-3">
            <label for="addressSupplement" class="form-label" style="color: black">Address Supplement</label>
            <input id="addressSupplement" class="form-control" formControlName="addressSupplement">
          </div>
          <div class="mb-3">
            <label for="addressCity" class="form-label" style="color: black">Address City</label>
            <input id="addressCity" class="form-control" formControlName="addressCity">
          </div>
          <div class="mb-3">
            <label for="addressState" class="form-label" style="color: black">Address State</label>
            <input id="addressState" class="form-control" formControlName="addressState">
          </div>
        </div>


      </div>
    </form>

  </div>
</div>

<div class="row" style="margin-top:15rem">
  <app-footer></app-footer>
</div>
</body>
