<div class="row mt-5 ms-5 me-5 mb-5 statistics">
  <div class="col m-4">
    <div class="card card__clock">
      <div class="card-body">
        <div class="card-title card__clock-card__title">Current Time</div>
        <p class="card-text card__clock-card__clock">{{rxTime | date: 'hh:mm:ss a' }}</p>
      </div>
    </div>
  </div>

  <div class="col m-4">
    <div class="card card__resolved">
      <div class="card-body">
        <div class="card-title card__resolved-card__title">Resolved</div>
        <p class="card-text card__resolved-card__subtitle">30</p>
      </div>
    </div>
  </div>

  <div class="col m-4">
    <div class="card card__call">
      <div class="card-body">
        <div class="card-title card__call-card__title">Call Today</div>
        <p class="card-text card__call-card__subtitle">10</p>
      </div>
    </div>
  </div>
</div>
